extends layout

block content
  div(id="background-overlay")
  div(id="background")
    canvas(width="800", height="600", data-canvas-id="0", class="back-canvas")
    canvas(width="800", height="600", data-canvas-id="1", class="back-canvas")
    canvas(width="800", height="600", data-canvas-id="2", class="back-canvas")
    canvas(width="800", height="600", data-canvas-id="3", class="back-canvas")
    canvas(width="800", height="600", data-canvas-id="4", class="back-canvas")
    canvas(width="800", height="600", data-canvas-id="5", class="back-canvas")
    canvas(width="800", height="600", data-canvas-id="6", class="back-canvas")

  div(class="navbar")
    div(class="navbar-inner")
      div(class="container")
        a(class="brand",href="/")= title

  div(class='container')
    div(class='row')
      div(class='span10 offset1')
        div(class="front")
          h1
            img(id='logo')
    div(class='row')
      div(class='span10 offset1', id='dropbox')
        div(class="front")
          canvas(width="800", height="600", data-canvas-id="0", class="front-canvas")
          