doctype 5
html
  head
    title= title
    script(type='application/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(type='application/javascript', src='/socket.io/socket.io.js')
    script(type='application/javascript', src='/flatstrap/js/bootstrap.min.js')
    script(type='application/javascript', src='/javascripts/canvasResize/jquery.exif.js')
    script(type='application/javascript', src='/javascripts/canvasResize/jquery.canvasResize.js')
    script(type='application/javascript', src='/javascripts/canvasResize/canvasResize.js')
    script(type='application/javascript', src='/javascripts/main.js')
    link(rel='stylesheet', href='/flatstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/flatstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-39359731-2', 'tanatana.info');ga('send', 'pageview');</script>
  body
    block content