doctype 5
html
  head
    title= title
    script(type='application/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(type='application/javascript', src='/socket.io/socket.io.js')
    script(type='application/javascript', src='/flatstrap/js/bootstrap.min.js')
    script(type='application/javascript', src='/javascripts/canvasResize/jquery.exif.js')
    script(type='application/javascript', src='/javascripts/canvasResize/jquery.canvasResize.js')
    script(type='application/javascript', src='/javascripts/canvasResize/canvasResize.js')
    script(type='application/javascript', src='/javascripts/main.js')
    link(rel='stylesheet', href='/flatstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/flatstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="apple-mobile-web-app-capable",content="yes")
    meta(name="apple-mobile-web-app-status-bar-style",content="black-translucent")
  body
    block content