doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='application/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(type='application/javascript', src='/socket.io/socket.io.js')
    script(type='application/javascript', src='/javascripts/main.js')

  body
    block content