#logo {
    width : 200px;
    height: 50px;
}

#background{
    position: absolute;
    z-index: -200;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#background canvas{
    position: absolute;
}

#background-overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
}

.navbar{
    position: relative;
}
.navbar-inner{
    border-width: 0px 0px 0px 0px;
}
.navbar .navbar-inner a.brand{
    padding: 0px 20px 0px 20px;
}

#dropbox {
    height: 600px;
}

.container{
}

.front{
    position: relative;
    overflow: hidden;
}

.front .front-canvas{
}

.front #drophere {
    display: none;
    position: absolute;
    top: 0px;
    background: rgba(0,0,0,0.8);
}

.front #drophere-inner {
    font-size: 32px;
    color: #fff;
    text-align: center;
}

.loading{
    display: none;
    position: absolute;
    top: 8px;
    right: 7px;
    height: 0.7em;    
    text-align: right;
    color: #fff;
    font-size: 32px;
}

#viewer{
    color: #fff;
    font-weight: bold;
    font-size: 120%;
}

#viewer-mob{
    position: absolute;
    top: 50px;
    right: 20px;
    z-index:100;
    color: #fff;
 }